<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <title>URL Shortener</title>
    </head>
    <body>

        <div class="form-style">

        {% if not short_url %}
            <form id="long-url" method="post" action="/">
                <p>
                Enter URL to be shortened:
                <input type="text" name="url" autofocus />
                <input type="submit" value="Submit" />
                </p>
            </form>

        {% else %}
            <script>
                var host = "http://" + location.hostname;
                // Only uncomment the following line if deployed locally
                // host = host + ":5000";

                host = host + "/1/"+{{short_url}};

                document.write("<h3>Here is your shortened URL: <a href=/1/" + {{short_url}} + ">" + host + "</a></h3>");
            </script>
        {% endif %}
        </div>

    </body>
</html>
