<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <title>URL Shortener</title>
    </head>
    <body>

        <div class="form-style">

        {% if not short_url %}
            <form id="long-url" method="post" action="/">
                <p>
                Enter URL to be shortened:
                <input type="text" name="url" autofocus />
                <input type="submit" value="Submit" />
                </p>
            </form>

        {% else %}
            <h3><a href="/1/{{short_url}}"> Here is your shortened URL </a></h3>
        {% endif %}
        </div>

    </body>
</html>
